<h2>Adicione uma nova imagem: <%= link_to 'Nova Imagem', new_friend_path, class: 'new-friend' %></h2>

<section id="friends">
  <%= render @friends %>
</section>

<h2>Adicione a sequência de sons:</h2>
<% @friends.each do |friend| %>
  <p><%= friend.name %></p>
<% end %>
